input#guardar {
    margin-top: 2.5%;
    margin-left: 15%;
}

input#cancelar {
    margin-top: 2.5%;
    margin-left: 15%;
}

th#id {
    width: 5%;
}

.manusoft_bussman_form textarea {
	width: 96%;
}

.manusoft_bussman_form th {
	text-align: center;
	width: 10%;
}

.manusoft_bussman_form table {
	width: 100%;
}

.manusoft_bussman_form input[type=text] {
	width: 90%;
}

.manusoft_bussman_form select {
	width: 90%;
}

.manusoft_bussman_error {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-left-color: #dc3232;
    padding: 10px;
}

.manusoft_bussman_updated {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-left-color: #46b450;
    padding: 10px;
}

.page-title-action {
	top: 15px !important;
}